<!DOCTYPE html>
<html>
    <head>
        <title> Bienvenidos a MercadoLiebre </title>

        <!--Page configuration-->
        <meta charset="UTF-8">
        
        <!--Mobile first Responsive method-->
        <meta name="viewport" content="width=device-width">

        <!-- Link source roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

        <!-- Add Styles CSS local-->
        <link rel="stylesheet" href="css/styles.css">

        <!-- Add icons -->
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      
    </head>

    <body>
        <header> 

            <!---------------------------------------------------------------->
            <!--                        Header                              -->
            <!---------------------------------------------------------------->
            <div class="header-top"> 
                <div class="logo">
                    <a href="/"><img src="\images\logo-mercado-liebre.svg" alt= "logo" class="logoML"/></a>
                </div> 
            
                <!--Barra de busqueda-->
                <div class = "search">
                    <input class="searchbox" placeholder="Buscar productor, marcas y más...">
                    <i class="fas fa-search search-ico"></i>
                </div>

                <div class = cuotas>
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </div>  
            </div> 
            <!---------------------------------------------------------------->
            <!--                    Navigation link                         -->
            <!---------------------------------------------------------------->
            <nav>  
                <!--First unordered list of items-->
                <ul class="items1" type="none">
                    <!--Items-->
                    <li class="ofertas"><a href="#"> Ofertas</a></li> 
                    <li class="tiendas"><a href="#"> Tiendas Oficiales</a></li> 
                    <li class="vender"><a href="#"> Vender</a></li> 
                    <li class="ayuda"><a href="#"> Ayuda</a></li>
                </ul>

                <!--Second unordered list of items-->
                <ul class="items2" type="none">
                    <li class="register"><a href="/register"> Creá tu cuenta
                        <i class="fas fa-address-card"></i>
                    </a></li> 
                    <li class="login"><a href="/login"> Ingresá
                        <i class="fas fa-sign-in-alt"></i>
                    </a></li> 
                    <li class="compras"><a href="#"> Mis compras
                        <i class="fas fa-shopping-basket"></i>
                    </a></li> 
                </ul>
            </nav>
            <!---------------------------------------------------------------->
            <!--                        Icon + Banner                       -->
            <!---------------------------------------------------------------->
            <!--Hamburgesa icon-->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <div>
                <img class="banner" src="\images\img-home-banner.jpg" alt= "Banner"/>
            </div>

        </header>

        <main>
            <!-------------------------- SECCION BASADO EN LA VISTA ----------------------------->
            <h2>Basado en tu última visita</h2>

            <Section>
                <div class="articulos">  
                    <div class="flexbox-article">
                        <article>
                            <img src="\images\img-cafetera-moulinex.jpg" alt="cafetera" class="product-img">
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount">
                                    <p class="price">$6.770</p>
                                    <p class="discount">40% off</p>
                                </div>    
                                <div class="d1"><strong class = "description">Cafetera Moulinex</strong></div>
                            </div>
                        </article>

                        <article>
                            <img src="\images\img-macbook-pro-2019.jpg" alt="macbook" class="product-img">    
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount">
                                    <p class="price">$230.000</p>
                                    <p class="discount">20% off</p>
                                </div>
                                <div><strong class = "description">MacBook Pro 2019</strong><div>
                            </div>
                        </article>
                    </div>
                    <div class="flexbox-article">
                        <article>
                            <img src="\images\img-samsung-galaxy-s10.jpg" alt="SamsungGalaxy s10" class="product-img">
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount">
                                    <p class="price">$70.500</p>
                                    <p class="discount">10% off</p>
                                </div>
                                <div><strong class = "description">Samsung Galaxy S10</strong></div>
                            </div>
                        </article>

                        <article>
                            <img src="\images\img-tv-samsung-smart.jpg" alt="TV Samsung Smart" class="product-img">
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount"> 
                                    <p class="price">$23.200</p>
                                    <p class="discount">5% off</p>
                                </div>
                                <div><strong class = "description">SmartTv Samsung 43"</strong></div>
                            </div>
                        </article>
                    </div> 
                </div>
            </Section>

            <!-------------------------------- SECCION OFERTA ---------------------------------->
            <h2>Ofertas</h2>
            
            <Section>     
                <div class="oferta">      
                    <div class="flexbox-article">        
                        <article>
                            <img src="\images\img-cafetera-moulinex.jpg" alt="cafetera" class="product-img">
                                <div class="contenedor_articulo"> 
                                    <div>
                                        <i class="fas fa-truck truck"></i>
                                    </div>
                                <div class="box-price-discount"> 
                                    <p class="price">$6.770</p>
                                    <p class="discount">40% off</p>
                                </div>
                                <div><strong class = "description">Cafetera Moulinex</strong></div>
                            </div>
                        </article>

                        <article>
                            <img src="\images\img-macbook-pro-2019.jpg" alt="macbook" class="product-img">
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount">
                                    <p class="price">$230.000</p>
                                    <p class="discount">20% off</p>
                                </div>
                                <div><strong class = "description">MacBook Pro 2019</strong></div>
                            <div>
                        </article>
                    </div>
                   
                    <div class="flexbox-article">
                        <article>
                            <img src="\images\img-samsung-galaxy-s10.jpg" alt="SamsungGalaxy s10" class="product-img">
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount"> 
                                    <p class="price">$70.500</p>
                                    <p class="discount">10% off</p>
                                </div>
                                <div><strong class = "description">Samsung Galaxy S10</strong></div>
                            </div>
                        </article>

                        <article>
                            <img src="\images\img-tv-samsung-smart.jpg" alt="TV Samsung Smart" class="product-img">
                            <div class="contenedor_articulo"> 
                                <div>
                                    <i class="fas fa-truck truck"></i>
                                </div>
                                <div class="box-price-discount"> 
                                    <p class="price">$23.200</p>
                                    <p class="discount">5% off</p>
                                </div>
                                <div><strong class = "description">SmartTv Samsung 43"</strong></div>
                            </div>
                        </article>
                    </div>
                </div>
            </Section>

        </main>    

        <footer>
            <div class="footer-text">
                <section>
                    <i class="fas fa-credit-card ico-footer credit"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <section>
                    <i class="fas fa-gift ico-footer gift"></i>
                    <h3>Envío gratis desde los $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <section>
                    <i class="fas fa-user-shield ico-footer user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </section>
            </div>
            <section>
                <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </section>
        </footer>
    </body>

</html>