<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
        <header> 
            <!------------------------  LOGO MERCADOLIEBRE ---------------------------------->
            <img src="\images\logo-mercado-liebre.svg" alt= "logo"/>
            <!---------------------------------- OTRO --------------------------------------->
            <p>Lugar para poner la barra de búsqueda</p> 
            <p>Comprá en cuotas y sin tarjeta de crédito</p>        
            <!------------------------------------ ITEMS ------------------------------------>
            <li><a href=""> Ofertas</li></a> 
            <li><a href=""> Tiendas Oficiales</li></a> 
            <li><a href=""> Vender</li></a> 
            <li><a href=""> Ayuda</li></a> 
            <li><a href=""> Creá tu cuenta</li></a> 
            <li><a href=""> Ingresá</li></a> 
            <li><a href=""> Mis compras</li></a> 

            <!------------------------------------------------------------------------------->
            <img src="\images\img-home-banner.jpg" alt= "logo"/>
        </header>

        <main>
            <!-------------------------- SECCION BASADO EN LA VISTA ----------------------------->
            <Section>
                <h2>Basado en tu última visita</h2>

                <article>
                    <img src="\images\img-cafetera-moulinex.jpg" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% off</p>
                    <strong>Cafetera Moulinex</strong>
                </article>
                <article>
                    <img src="\images\img-macbook-pro-2019.jpg" alt="macbook">    
                    <p>$230.000</p>
                    <p>20% off</p>
                    <strong>MacBook Pro 2019</strong>
                </article>
                <article>
                    <img src="\images\img-samsung-galaxy-s10.jpg" alt="SamsungGalaxy s10">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <strong>Samsung Galaxy S10</strong>
                </article>
                <article>
                    <img src="\images\img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <strong>SmartTv Samsung 43"</strong>
                </article>
            </Section>

            <!-------------------------------- SECCION OFERTA ---------------------------------->
            <Section>
                <h2>Ofertas</h2>
                
                <article>
                    <img src="\images\img-cafetera-moulinex.jpg" alt="cafetera">
                    <p>$6.770</p>
                    <p>40% off</p>
                    <strong>Cafetera Moulinex</strong>
                </article>
                <article>
                    <img src="\images\img-macbook-pro-2019.jpg" alt="macbook">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <strong>MacBook Pro 2019</strong>
                </article>
                <article>
                    <img src="\images\img-samsung-galaxy-s10.jpg" alt="SamsungGalaxy s10">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <strong>Samsung Galaxy S10</strong>
                </article>
                <article>
                    <img src="\images\img-tv-samsung-smart.jpg" alt="TV Samsung Smart">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <strong>SmartTv Samsung 43"</strong>
                </article>
            </Section>
        </main>
    </body>
    

    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>

</html>